<div class="modal fade" tabindex="-1" role="dialog" id="addcarousel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">title</h4>
            </div>
            <div class="modal-body">
                <ul class="inputList">
                    <li>
                        <label for="name">名称：</label>
                        <div>
                            <input type="text" id="name"/>
                        </div>
                    </li>
                    <li>
                        <label for="introduce">描述：</label>
                        <div>
                            <input type="text" id="introduce"/>
                        </div>
                    </li>
                    <li>
                        <label for="evelId">商品层级：</label>
                        <div>
                            <select name="" id="evelId">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label>上传图片：</label>
                        <div>
                            <div class="addImgBox">
                                <input type="file" class="addImg" data-url="/backApi/uploadFile" multiple name="file[]" id="fileupload"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary butnSure">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->