<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="icon" href="/images/ico.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/frozen/css/frozen.css"/>
    <link rel="stylesheet" href="/css/front.css"/>
    <script src="/js/taobaoshipei.js"></script>
    <script src="/frozen/lib/zepto.min.js"></script>
    <script src="/frozen/js/frozen.js"></script>
</head>
<body>
<%- body %>
</body>
</html>