<%- layout('layout/layout')%>



<div style="padding: 20px 50px">
    <blockquote class="layui-elem-quote">
        首页页轮播图
        <button class="layui-btn layui-btn-sm" style="float: right;">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </blockquote>
    <table class="layui-table">
        <colgroup>
            <col width="100">
            <col width="300">
            <col width="250">
            <col width="350">
        </colgroup>
        <thead>
        <tr>
            <th></th>
            <th>图片</th>
            <th>说明</th>
            <th>链接</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
            <td>
                <button class="layui-btn layui-btn-normal layui-btn-sm">编辑</button>
                <button class="layui-btn layui-btn-danger layui-btn-sm">删除</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
            <td>
                <button class="layui-btn layui-btn-normal layui-btn-sm">编辑</button>
                <button class="layui-btn layui-btn-danger layui-btn-sm">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>