@function pxToRem($args) {
  @return $args/64*1rem;
}

html,body{
  background-color: #fff;
}
body{
  font-size: pxToRem(28)!important;
}
.clearfix:after,.clearfix:before{
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.fonticon{
  display: inline-block;
  vertical-align: middle;
}
.model{
  display: none;
}

/* Carousel */
#slider1{
  height: pxToRem(180);
}
.tabBox{
  overflow-x: auto;
  .tabList{
    height:pxToRem(160);
    width: 150%;
  }
  .tabListLi{
    width:pxToRem(160);
    height:pxToRem(160);
    padding: pxToRem(20);
    background: #fff;
    box-sizing: border-box;
    float: left;
  }
}
.listContent{
  .centerText{
    height: pxToRem(80);
    line-height: pxToRem(80);
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #f9f9f9;
    background-color: #f1f1f1;
  }
}
.bottomFixTab{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  ul{
    width: 100%;
    border-top: 1px solid #f9f9f9;
    li{
      float: left;
      width: 25%;
      img{
        width: pxToRem(104);
        height: pxToRem(80);
        display: block;
        margin: 0 auto;
      }
    }
  }
}